/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-nov-2016, 17:08:52
    Author     : Fernando
*/
body.main_body {
	background-color: #eff4f9;
}
.timeline {
	position: relative;
	padding: 0;
}
.timeline:before {
	content: '';
	position: absolute;
	width: 0;
	top: 0;
	bottom: 0;
	left:49%;
	right:49%;
	margin: 0 auto;
	border-left: 3px dashed #6694cc;
	border-right: 3px dashed #6694cc;
}
.timeline:after {
	clear: both;
	display: block;
	content: '';
}

.timeline-point {
	width: 48%;
	position: relative;
	border-top: 4px outset #b2c9e5;
	list-style-type: none;
}
.timeline-point h4 small {
	display: block;
}
.timeline-point:before {
	content: '';
	position: absolute;
	top: -14px;
	border: 12px transparent solid;
}

.timeline-point.left {
	float: left;
	clear: left;
}
.timeline-point.right {
	float: right;
	clear: right;
}
.timeline-point.clear {
	clear: both;
	margin-top: 3em;
}
.timeline-point.clear + .timeline-point {
	margin-top: 5em;
}
.timeline-point.clear:first-child {
	margin-top: 0;
}
.timeline-point.clear:first-child + .timeline-point {
	margin-top: 2em;
}
.timeline-point.left:before {
	right: -8px;
	border-right-color: #b2c9e5;
}
.timeline-point.right:before {
	left: -8px;
	border-left-color: #b2c9e5;
}
.timeline-point.clear:before {
	border-top-width: 0px;
	top:-4px;
}
.timeline-point.left h4 {
	text-align: right;
}
.timeline-point.right h4 {
	text-align: left;
}
.section-about-me h3{
	margin-top: 1em;
	border-bottom: 2px gray dashed;
}
.commit .commit-sublist {
	padding: 0;
	padding-left: 0.5em;
}
.commit .commit-sublist li {
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis;
	list-style-type: none;
	width: 100%;
}
.commit .commit-description {
	margin: 0;
}
.commit .commit-name {
	font-size: 130%;
	border-top: 2px dotted #b2c9e5;
}
.commit:first-child .commit-name {
	border-top-width: 0;
}
.commit .commit-stats > * {
	position: relative;
	z-index: 1;
}
.commit-frame {
	border: 0px;
	height: 60vh;
	overflow: scroll;
	width: 100%;
}
.language-tag {
	margin: 0 2px;
	color: black;
}
.language-tag-shell {
	background-color: #383838;
	color: white;
}
.language-tag-java {
	background-color: #ff6666;
}
.language-tag-bukkit {
	background-color: #bfbfbf;
}
.language-tag-minecraft {
	background-color: #00cc66;
}
.language-tag-html {
	background-color: #ffc27a;
}
.language-tag-javascript {
	background-color: #ffff7a;
}
.language-tag-php {
	background-color: #7aa6ff;
}
.language-tag-css {
	background-color: #7ad6ff;
}
.language-tag-python {
	background-color:rgb(59,119,170);
	background: linear-gradient(to right, rgb(59,119,170) 0%,rgb(59,119,170) 50%,rgb(246,204,17) 50%,rgb(246,204,17) 100%);
}
.project {
	margin-bottom: 0.5em;
}
.project .project-name {
	margin-bottom: 0;
}
.project .project-tags {
	margin-bottom: 0;
}
.project .project-time {
	margin-bottom: 0;
}
.project .project-description {
	margin-bottom: 0;
}
.project.project-full-page .project-tags {
	margin-bottom: 0.25em;
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
	position: relative;
}
.markdown-body h1 .anchor,
.markdown-body h2 .anchor,
.markdown-body h3 .anchor,
.markdown-body h4 .anchor,
.markdown-body h5 .anchor,
.markdown-body h6 .anchor {
	display: none;
	position: absolute;
	right: 100%;
}
.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
	display: block;
}
